{% extends 'base2.html' %}
{% load static %}
{% block body_block %}
<div class="tm-container">
  <div class="tm-main-content">
    <section style="text-align: center;" class="tm-section">
      <h1 class="display-3"style="color: red">Thank You!</h1>
      <p class="lead"><strong>You are successfully Logout.</strong></p>
      <hr>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
      </p>
    </section>
   </div>
</div>
{% endblock %}

   